table {
    width: 80%;
    margin: 2em auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

th,
td {
    border: 1px solid #ddd;
    padding: 1em;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}


a {
    padding: 0.5em 1em;
    margin: 0 0.25em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    opacity: 80%;
}

.buybtn {
    background-color: #4CAF50;
    color: white;
}

.sellbtn {
    background-color: #f44336;
    color: white;
}

button:hover {
    opacity: 0.9;
}

.loss {
    font-weight: bold;
    animation: flash-loss 1s forwards;
}

.profit {
    font-weight: bold;
    animation: flash-profit 1s forwards;
}

@keyframes flash-profit {
    0% {
        color: #4CAF50;
    }

    50%  { color: #4CAF50; }

    100% {
        color: black;
    }
}

@keyframes flash-loss {
    0% {
        color: red;
    }

    50%  { color: red }

    100% {
        color: black;
    }
}

.change {
    font-size: 13px;
    padding-left: 10px;
}